obj
run_test
run_engine
*__pycache__*
.DS_Store
index.bin
bench.bin
shards
bench-shards
data.nosync/input
data.nosync/wikitext
proj-report/*.aux
proj-report/*.fdb_latexmk
proj-report/*.fls
proj-report/*.log
proj-report/*.out
proj-report/*.pdf
proj-report/*.dvi
